@media (max-width:1024px) {
    .hero {
        &__content {
            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 0.9rem;
            }
        }
    }
}

@media (max-width:770px) {
    body {
        background: no-repeat center/cover url("../assets/images/bg-mobile.svg") $Violet;
    }

    header {
        img {
            width: 40%;
        }
    }

    .hero {
        flex-direction: column;
        text-align: center;
        gap: 1rem;

        &__image {
            margin: 1rem 0;
            min-width: 70%;
        }

        &__content {
            min-width: 70%;

            h1 {
                font-size: 2rem;
            }
        }
    }

    .social-icon {
        text-align: center !important;
    }
}

@media (max-width:430px) {
    header {
        img {
            width: 60%;
        }
    }

    .hero {
        &__image {
            min-width: 100%;
            margin: 1rem 0;
        }

        &__content {
            min-width: 100%;

            h1 {
                font-size: 1.5rem;
            }

            button {
                width: 10rem;
            }
        }
    }
}